* {
    //reset styles
    font-family: 'Inter', sans-serif;
    font-style: none;
    border: none;
    margin: 0;

    background-color: #FCA86C;

    .container {
        //iniciando estilo do app
        height: 780px;
        
        .tittle {
            margin-top: 60px;
            text-align: center;
            h1{
                margin-top: 15px;
                font-weight: bold;
                color: #F13E5C;
                font-size: 64px;
            }
        }

        .btns {
            margin-top: 60px;
            display: flex;
            justify-content: center;
            gap: 77px;
            button {
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 39px;
                color: #FCA86C;
                width: 267px;
                height: 81px;
                background: #F13E5C;
                border-radius: 10px;
            }
            margin-bottom: 90px;
        }
        footer {
            text-align: center;
            p {
                font-style: italic;
                font-weight: 400;
                font-size: 32px;
                line-height: 39px;
                color: #F13E5C;
            }
            
        }


    }
}

