* {
    //reset styles
    font-family: 'Inter', sans-serif;
    font-style: none;
    border: none;
    margin: 0;

    background-color: #FCA86C;

    .container {
        //iniciando estilo do app
        height: 780px;
        transition: all .5s;
        .tittle {
            position: relative;
            margin-top: 60px;
            text-align: center;
            img {
                max-width: 188px;
            }
            h1{
                margin-top: 15px;
                font-weight: bold;
                color: #F13E5C;
                font-size: 64px;
            }
        }

        .btns {
            margin-top: 60px;
            display: flex;
            justify-content: center;
            gap: 77px;
            button {
                position: relative;
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 39px;
                color: #FCA86C;
                width: 267px;
                height: 81px;
                background: #F13E5C;
                border-radius: 10px;

                transition: all .3s;  
            }
            .sim {
                cursor: pointer;
                &:hover {
                    scale: 105%;
                    background: #f83253;
                }
            }
          
            margin-bottom: 90px;
        }
        footer {
            text-align: center;
            p {
                font-style: italic;
                font-weight: 400;
                font-size: 32px;
                line-height: 39px;
                color: #F13E5C;
            }
            
        }


    }
    // classes para adcionar no js "footer" e "img"

   
    @keyframes pulse {
        0% {
            transform: scale(1);
          }
        
        50% {
            transform: scale(1.1);
          }

        

        100% {
            transform: scale(1);
          }
        }

    .core {
        animation-name: pulse;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
    }    

}


